<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smartmeca.smar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icone"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="smartmeca.smar.GLExample"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
             <intent-filter>
                <action android:name="com.example.smar.GLExample" />

                <category android:name="android.intent.category.DEFAULT" />
                
            </intent-filter>
            
        </activity>
        <activity
            android:name="smartmeca.smar.geometry"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="com.example.smar.geometry" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="smartmeca.smar.addCube"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.addCube" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="smartmeca.smar.addPara"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.addPara" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

<activity
            android:name="smartmeca.smar.addPrisme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.addPrisme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="smartmeca.smar.addCylindre"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.addCylindre" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="smartmeca.smar.addSphere"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.addSphere" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="smartmeca.smar.addMaillon"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.addMaillon" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="smartmeca.smar.addCone"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.addCone" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="smartmeca.smar.addCoude"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.addCoude" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<activity
            android:name="smartmeca.smar.showTree"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.showTree" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
   <activity
            android:name="smartmeca.smar.open"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.open" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
   <activity
            android:name="smartmeca.smar.save"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.save" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
<activity
            android:name="smartmeca.smar.config"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.config" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
<activity
            android:name="smartmeca.smar.modifCylindre"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.modifCylindre" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
<activity
            android:name="smartmeca.smar.modifMaillon"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.modifMaillon" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
<activity
            android:name="smartmeca.smar.modifCone"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.modifCone" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
<activity
            android:name="smartmeca.smar.modifCoude"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.modifCoude" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
<activity
            android:name="smartmeca.smar.modifCube"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.modifCube" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
<activity
            android:name="smartmeca.smar.modifPara"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.modifPara" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
<activity
            android:name="smartmeca.smar.modifPrisme"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.modifPrisme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
<activity
            android:name="smartmeca.smar.modifSphere"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
             >
            <intent-filter>
                <action android:name="com.example.smar.modifSphere" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   

</application>

</manifest>